h1 {
    font-size: 2rem;
}

h2 {
    // border-bottom: solid 1px white;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

.factor-result-heading {
    font-size: 1.5rem;
    font-weight: 300;
}

.factor-result {
    font-size: 1.5rem;
    font-weight: 300;
}

// mat-label {
//     font-size: 15px;
// }

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}

.mini-clock {
    font-size: 1rem;
}

// input[type="time"]::-webkit-clear-button {
//     display: none;
// }

// .btn-clipboard {
//     font-size: 1rem;
//     font-weight: 400;
//     padding: 0.5rem 2rem;
// }