<mat-toolbar color="primary" class="sticky-navbar">
    <mat-toolbar-row class="d-flex">

        <div class="pr-3">
            <span>Virtual Time Utilities</span>
        </div>
        <div class="flex-fill d-flex justify-content-between">

            <!-- Navbar left side -->
            <div>
                <a mat-button class="mr-3"
                    [routerLink]="['/home']">Home</a>
            </div>

            <!-- Navbar right side -->
            <div>
                <!-- <a mat-stroked-button [routerLink]="['login']">Login</a> -->
            </div>
        </div>
        
    </mat-toolbar-row>
</mat-toolbar>