<mat-toolbar color="primary" class="sticky-navbar">
    <mat-toolbar-row class="d-flex">

        <div class="pr-3">
            <span>Virtual Time Utilities</span>
        </div>
        <div class="flex-fill d-flex justify-content-between">

            <!-- Navbar left side -->
            <div>
                <!-- Absolute Path -->
                <!-- <a mat-button routerLink="/home">Test</a> -->
                
                <!-- Relative Paths -->
                <!-- <a class="mr-3" mat-stroked-button [routerLink]="['speed-factor']">Speed Factor</a> -->
                <!-- <a class="mr-3"  mat-stroked-button [routerLink]="['format-name']">Format Name</a> -->
                <a mat-button class="mr-3"
                    [routerLink]="['format-name']">Home</a>
            </div>

            <!-- Navbar right side -->
            <div>
                <!-- <a mat-stroked-button [routerLink]="['login']">Login</a> -->
            </div>
        </div>
        
    </mat-toolbar-row>
</mat-toolbar>