<div class="row pt-5 justify-content-center">

    <div class="col-12 mb-1">
        <h1 class="text-center"><span>Full Name Formatter</span></h1>
        <p class="text-center">Input Format: 'First Middle Last Sfx.'</p>
    </div>

    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mt-3 mb-5 text-center">
        <mat-tab-group dynamicHeight mat-align-tabs="center">

            <!-- ------------------------- Tab - Format Single Name ------------------------- -->
            <mat-tab label="Single" class="container-fluid">
                <div class="row mt-4">
                    <div class="col">
                        <mat-form-field class="w-75">
                            <mat-label>Enter Full Name</mat-label>
                            <!-- <span matPrefix>Enter Name: &nbsp;</span> -->
                            <input #fullName matInput type="text"
                                (blur)="formatCopySingleName(fullName.value)"
                                (keydown.enter)="focusOnElementId('btn-clipboard-1')"
                                placeholder="E.g. John Billy Doe Jr.">
                            <mat-icon matSuffix>edit</mat-icon>
                        </mat-form-field>
                    </div>
                    
                    <div class="w-100 my-3"></div>

                    <div class="col">
                        <p class="format-result text-center">{{ singleFormattedName }}</p>
                    </div>

                    <div class="w-100 my-4"></div>

                    <div class="col mt-2">
                        <button mat-raised-button class="btn-clipboard" color="primary" id="btn-clipboard-1"
                            (click)="copyToClipboard(singleFormattedName)">Copy to Clipboard</button>
                    </div>

                    <div class="w-100 my-2"></div>

                    <div class="col mb-3">
                        <mat-slide-toggle [formControl]="autoCopyNameToClipboard" color="primary">
                            Auto Copy Name to Clipboard
                        </mat-slide-toggle>
                    </div>
                </div>
            </mat-tab>

            <!-- ------------------------- Tab - Format Multiple Names ------------------------- -->
            <mat-tab label="Multiple" class="container-fluid">
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <mat-form-field class="w-100 mt-3">
                            <mat-label>Enter List of Names</mat-label>
                            <textarea #namesList matInput
                                rows="4" (blur)="formatMultipleNames(namesList.value)"
                                placeholder="Enter each name on separate line, e.g.&#10;&#10;neil g caffrey&#10;Peter Burke Jr."></textarea>
                        </mat-form-field>
                    </div>

                    <!-- <div class="w-100 my-2"></div> -->

                    <div class="col-lg-6">
                        <mat-form-field class="w-100 mt-3">
                            <mat-label>Click here to show formatted names</mat-label>
                            <textarea #formattedNamesList matInput
                                rows="4" disabled 
                                placeholder="Formatted names will appear here!">{{ multipleFormattedNames }}</textarea>
                        </mat-form-field>
                    </div>

                    <div class="w-100 my-4"></div>

                    <div class="col-12 mb-3">
                        <button mat-raised-button class="btn-clipboard mx-2 d-none d-md-inline" color="primary"
                            (click)="copyToClipboard(multipleFormattedNames)">Copy to Clipboard</button>

                        <button mat-raised-button class="btn-clipboard mx-2" color="primary"
                            (click)="namesList.value=''; formattedNamesList.value=''">Clear All</button>
                        
                        <button mat-raised-button class="btn-clipboard mx-2 d-md-none" color="primary"
                            (click)="copyToClipboard(multipleFormattedNames)">Copy to Clipboard</button>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>

</div>