/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/utilities";

// @use "bootstrap/scss/variables";
// @use "bootstrap/scss/functions";
// @use "bootstrap/scss/mixins";

// @use "bootstrap/scss/reboot";
// @use "bootstrap/scss/grid";
// @use "bootstrap/scss/utilities";

@import "assets/styles/my-reset";

html, body { height: 100%; }

body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg1 {
    background-color: olive;
}

.bg2 {
    background-color: rebeccapurple;
}

.bg3 {
    background-color: chocolate;
}

.bg4 {
    background-color: darkcyan;
}

.bg5 {
    background-color: orchid;
}

// .mat-input-element[type="time"].datetime-reset-button {
//     opacity: 0 !important;
// }