<mat-toolbar color="primary" class="footer-container">
    <mat-toolbar-row>

        <div class="container-fluid">
            <div class="row text-center">
                
                <div class="col-sm-5 text-sm-left">
                    <span class="footer-text">Design Assisted by
                        <a class="resume-plug"
                            href="https://github.com/laulina" target="_blank">Laura-Liisa Nanits</a>
                    </span>
                </div>
                <div class="col-sm-7 text-sm-right d-none d-sm-block">
                    <span class="footer-text">© 2020-{{ currentYear }}
                        <a class="resume-plug" href="https://github.com/CoffeelessProgrammer" target="_blank">CoffeelessProgrammer</a>
                        - All Rights Reserved
                    </span>
                </div>

            </div>
        </div>

    </mat-toolbar-row>
    
    <!-- <mat-toolbar-row class="d-md-none">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col">
                    <span class="footer-text">Design Assisted by Laura-Liisa Nanits</span>
                </div>
            </div>
        </div>
    </mat-toolbar-row> -->
    
    <!-- <mat-toolbar-row class="d-md-none">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col">
                    <span class="footer-text">Development Status: Pre-alpha</span>
                </div>
            </div>
        </div>
    </mat-toolbar-row> -->


    <mat-toolbar-row class="d-sm-none">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col">
                    <span class="footer-text">© 2020-{{ currentYear }}
                        <a class="resume-plug" href="https://github.com/CoffeelessProgrammer" target="_blank">CoffeelessProgrammer</a>
                        - All Rights Reserved
                    </span>
                </div>
            </div>
        </div>
    </mat-toolbar-row>

</mat-toolbar>