<mat-toolbar color="primary" class="footer-container">
    <mat-toolbar-row class="">

        <div class="container-fluid">
            <div class="row text-center">

                <div class="col-md-5 text-md-left">
                    <span class="footer-text">Development Status: Pre-alpha</span>
                </div>
                <div class="col-md-7 text-md-right d-none d-md-block">
                    <span class="footer-text">© Pulkit Mittal 2020 - All Rights Reserved</span>
                </div>

            </div>
        </div>

    </mat-toolbar-row>


    <mat-toolbar-row class="d-block d-md-none">

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col">
                    <span class="footer-text">© Pulkit Mittal 2020 - All Rights Reserved</span>
                </div>
            </div>
        </div>

    </mat-toolbar-row>

</mat-toolbar>